#headerTitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 700;
  font-size: 40px;
  color: whitesmoke;
}
#aboutMe {
  padding: 5rem 0;
  background: #46474a;
  border-bottom: 0.25rem solid #64a19d;
}
#profileImage {
  float: left;
  /* width: 200px; */
}
#bio {
  padding-top: 10rem;
  float: left;
  width: 100%;
}
@media (max-width: 600px) {
  #aboutme, #profileImage, #bio {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    text-align: center;
  }
}

