#headerTitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 700;
  font-size: 40px;
  color: whitesmoke;
}
#aboutMe {
  padding-top: 5rem;
  background: #46474a;
  height: 100vh;
}
#profileImage {
  float: left;
  width: 30%;
}
#bio {
  padding-top: 10rem;
  float: left;
  width: 100%;
}


/* Media Queries */
/* ------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 600px) {
  #aboutme, #profileImage, #bio {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    text-align: center;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}