#headerTitle {
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font: 700;
  font-size: 40px;
}
#aboutMe {
  background: #46474a;
  height: auto;
  padding: 5rem 0;
}
.hr-short {
  border-width: 3px;
  border-color: #e62522;
}
#bio {
  text-indent: 2.5rem;
}

