.contact-section {
  border-color: #64a19d;
  border-bottom: 0.25rem solid #64a19d;
  padding-top: 5rem;
  background-color: #484848
}
.contact-section hr {
  border-color: #64a19d;
  border-width: medium;
}
.contact-section  a {
  text-decoration: none;
}
.text-primary {
  color: #64a19d !important;
}
.social {
  margin: 3rem 0;
}
.social a:hover {
  color: #008178;
}
a {
  color: #64a19d;
  margin: 2rem 0;
  padding: 0 1rem;
}
.fab {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.fab {
  size: 200px;
}

/* Media Queries */
/* ------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .card-section {
      padding bottom: 10rem;
      color: white;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}