.contact-section {
  border-color: #64a19d;
  border-bottom: 0.25rem solid #64a19d;
  padding-top: 5rem;
  background-color: #484848
}
.contact-section hr {
  border-color: #64a19d;
  border-width: medium;
}
.contact-section  a {
  text-decoration: none;
}
.text-primary {
  color: #64a19d !important;
}
.social {
  margin: 3rem 0;
}
.social a:hover {
  color: #a4d3d0;
}
a {
  color: #64a19d;
  margin: 2rem 0;
  padding: 0 2.5rem;
}
.fab {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.fab {
  size: 200px;
}
