#portfolio-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: caption;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  background-color: #808080;
}
#projects-section > hr {
  border-color: #64a19d;
  border-width: thin;
  padding-bottom: 2.5rem;

}
h1 {
  margin-bottom: 0px;
  margin-top: -10px;
}
h3 {
  margin-top: 10px;
  font-weight: normal;
  color: #a6a6a6;
}
a.button {
  text-decoration: none;
}
.button {
  padding: 14px 22px;
  background-color: #cecece;
  color: #333333;
  border-radius: 3px;
  margin-bottom: 20px;
  display: inline-block;
}
.button:hover {
  background-color: #e1e1e1;
}
.thumbs {
  display: block;
}
.list-text {
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #868e96;
}
.dev-icons {
  font-size: 3rem;
  color: #868e96;
}
.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}