#resume-header{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 700;
  font-size: 40px;
}
#resume {
  padding: 2.5rem 0 5rem 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* Media Queries */
/* ------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}