body, html {
  height: 100%;
  margin: 0;
}

#splashpicture {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image:  url("../images/Splash.jpg");
}

.header-text {
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Varela Round";
}

.title {
  font-size: 104px;
  font-weight: 500;
  line-height: 104px;
  color: #212529;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}